body {
  background-color: #232323;

}

.sqr {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15px;
}

#container {
  max-width: 600px;
  margin: 0 auto;

}

.selected {
  background: #4384f4;
  
}

h1 {
  color: white;
  text-align: center;

  font-size: 26px;

}
#stripe {
  height: 30px;
  background-color: white;
  text-align: center;
  color: black;
}

#message {
  /* text-align: center; */
  color: black;
  font-size: 18px;
  padding: 0px;
}
